
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

 html {
        
        scroll-behavior: smooth;
        overflow-x: hidden; 
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

a {
  color: unset;
  text-decoration: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section__padding {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (max-width: 1050px) {
  .section__padding {
   padding-left: 6rem;
  padding-right: 6rem;
    
  }
  
 
}
@media screen and (max-width: 700px) {
  .section__padding {
      padding-left: 4rem;
  padding-right: 4rem;
    }
  
 
}

@media screen and (max-width: 550px) {
  .section__padding {
   padding-left: 2rem;
  padding-right: 2rem;
  }

  
}
